a {
  text-decoration: none !important;
  color: #000000 !important; }

p {
  padding: 0 !important;
  margin: 0 !important; }

.pragraph {
  margin: 1rem 0rem !important;
  font-size: 1.5rem !important;
  font-weight: 200 !important; }

.h1-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold; }

.h1-title:after {
  content: "";
  border-bottom: 4px solid;
  width: 14rem;
  color: #21A900;
  background-color: #21A900;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: .3rem; }

/* .btn-green {
    background-color: $green;
    color: $white !important;
    border-radius: 30px;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0rem 0.5rem 0.8rem 0.3em rgba(0, 0, 0, 0.411);
} */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: "Rogue Sans W00 Bold Italic"; }

.top-header {
  background-color: #333333;
  color: #ffffff;
  padding: .5rem 0rem; }
  .top-header .alignment-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .top-header .social-icon a {
    padding: 0rem .4rem; }
    .top-header .social-icon a i {
      background-color: #ffffff;
      border-radius: 100%;
      padding: .3rem;
      color: #21A900; }
    .top-header .social-icon a:first-child {
      padding: 0rem; }

.nav-menu {
  background: linear-gradient(86deg, #21a900 0%, #20a500 0%, #0b3a00 100%, rgba(0, 0, 0, 0.0760679) 100%) !important; }
  .nav-menu .logo {
    width: auto;
    height: 2rem; }
  .nav-menu .nav-link {
    color: #ffffff !important; }
    .nav-menu .nav-link:hover {
      color: #333333 !important;
      transition: .5s; }

.slider-area .slick-dotted.slick-slider {
  margin: 0; }

.slider-area #slider {
  overflow: hidden; }
  .slider-area #slider .single-slider img.img-w100 {
    width: 100%; }
  .slider-area #slider .slick-dots {
    bottom: 10px; }
    .slider-area #slider .slick-dots li button:before,
    .slider-area #slider .slick-dots li.slick-active button:before {
      color: transparent;
      opacity: 1; }
    .slider-area #slider .slick-dots li button:before {
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 50%;
      display: inline-block;
      height: 15px;
      width: 15px; }
    .slider-area #slider .slick-dots li.slick-active button:before {
      background-color: #333333;
      transition: all .5s; }

.book-now-area {
  background-color: #F5F5F5;
  padding: 3rem 0rem !important; }
  .book-now-area .h1-title:after {
    width: 10rem !important; }
  .book-now-area h1 {
    text-align: center; }
  .book-now-area .btn-green {
    background-color: #21A900;
    color: #ffffff !important;
    border-radius: 30px;
    width: 12rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0rem 0.5rem 0.9rem 0.09em rgba(0, 0, 0, 0.411); }

.schedule-area {
  background-color: #EBEBEB;
  min-height: 400px;
  padding: 5rem 0rem !important; }
  .schedule-area h1 {
    text-align: center; }
  .schedule-area .h1-title:after {
    width: 21rem !important; }
  .schedule-area p {
    text-align: center; }
  .schedule-area .schedule-list {
    background-color: white;
    padding: 2rem;
    border-radius: .8rem;
    margin-top: 3rem;
    min-height: 300px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.22);
    position: relative; }
    .schedule-area .schedule-list:after {
      content: url(https://tawhidjony.github.io/cfm-landing-page/assets/images/football_splash.png);
      position: absolute;
      bottom: 0;
      right: 0; }
    .schedule-area .schedule-list li {
      text-decoration: none !important;
      overflow: hidden;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 2; }

.about-area {
  background-color: #F5F5F5;
  height: 400px;
  padding: 5rem 0rem !important; }
  .about-area h1 {
    text-align: center; }
  .about-area .h1-title:after {
    width: 9.5rem !important; }
  .about-area p {
    text-align: center; }

.services-area {
  height: 400px;
  padding: 5rem 0rem !important;
  background-color: #EBEBEB; }
  .services-area h1 {
    text-align: center; }
  .services-area .h1-title:after {
    width: 12.5rem !important; }
  .services-area p {
    text-align: center; }

.testimonials-area {
  padding: 5rem 0rem !important;
  background-color: #F5F5F5; }
  .testimonials-area h1 {
    text-align: center; }
  .testimonials-area .h1-title:after {
    width: 13rem !important; }
  .testimonials-area .testmonials-slider-area .slick-list.draggable {
    padding: 1rem 0rem; }
  .testimonials-area .testmonials-slider-area .testmonials-slider {
    padding: 1.2rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.22);
    min-height: 120px; }
    .testimonials-area .testmonials-slider-area .testmonials-slider h4 {
      text-align: center;
      text-transform: uppercase; }
    .testimonials-area .testmonials-slider-area .testmonials-slider p {
      text-align: center; }

.field-location-area {
  padding: 5rem 0rem !important;
  background-color: #EBEBEB; }
  .field-location-area h1 {
    text-align: center; }
  .field-location-area .h1-title:after {
    width: 14rem !important; }
  .field-location-area .schedule-list {
    background-color: white;
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.27);
    min-height: 315px; }
    .field-location-area .schedule-list li {
      text-decoration: none;
      overflow: hidden; }
      .field-location-area .schedule-list li a {
        color: #21A900 !important; }

.contact-area {
  height: 400px;
  padding: 5rem 0rem !important;
  background-color: #F5F5F5; }
  .contact-area h1 {
    text-align: center; }
  .contact-area .h1-title:after {
    width: 16rem !important; }
  .contact-area p {
    text-align: center; }
  .contact-area .h3-contct-address {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem; }
  .contact-area .pragraph-contct-address {
    margin: 0;
    padding: 0;
    font-size: 1.2rem; }

.all-right-reserved {
  height: 2.5rem;
  width: auto;
  background: linear-gradient(86deg, #21a900 0%, #20a500 0%, #0b3a00 100%, rgba(0, 0, 0, 0.0760679) 100%);
  padding: .5rem 0rem; }
  .all-right-reserved p {
    text-align: center;
    font-size: medium;
    font-weight: 600;
    color: #ffffff; }

.footer-mobile {
  display: flex;
  justify-content: space-between;
  padding: 1rem; }

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #ffffff;
  padding: 6px 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06); }

@media (max-width: 767px) {
  .contact-area {
    height: auto; } }

@media (max-width: 575px) {
  .top-header .social-icon {
    float: left;
    margin: .3rem 0rem; }
  .top-header .alignment-mobile {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center; }
  .slider-area .slick-dotted.slick-slider {
    margin: 0; }
  .slider-area #slider {
    overflow: hidden; }
    .slider-area #slider .single-slider {
      position: relative; }
      .slider-area #slider .single-slider .btn-green {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #21A900;
        color: #ffffff !important;
        border-radius: 30px;
        width: 10rem;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0rem 0.5rem 0.8rem 0.3em rgba(0, 0, 0, 0.9); }
    .slider-area #slider .slick-dots {
      bottom: 0px; }
      .slider-area #slider .slick-dots li button:before {
        height: 10px;
        width: 10px; }
      .slider-area #slider .slick-dots li.slick-active button:before {
        background-color: #21A900; }
  .schedule-area .h1-title:after {
    width: 17rem !important; }
  .schedule-area .schedule-list li {
    font-size: 1.2rem !important;
    font-weight: 400 !important; }
  .about-area .h1-title:after {
    width: 8rem !important; }
  .services-area .h1-title:after {
    width: 10rem !important; }
  .testimonials-area .h1-title:after {
    width: 10.5rem !important; }
  .contact-area .h1-title:after {
    width: 12.5rem !important; }
  .pragraph {
    margin: 1rem 0rem !important;
    font-size: 1.2rem !important;
    font-weight: 400 !important; }
  .field-location-area .h1-title:after {
    width: 11rem !important; }
  .h1-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .h1-title:after {
    content: "";
    border-bottom: 4px solid;
    width: 10rem;
    color: #21A900;
    background-color: #21A900;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: .3rem; } }

@media (max-width: 374px) {
  .slick-dots {
    bottom: -5px !important; }
  .schedule-area .schedule-list li {
    font-size: 1rem !important;
    font-weight: 400 !important; } }
